Flask==0.10.1
Jinja2==2.7.1
MarkupSafe==0.18
Werkzeug==0.9.4
argparse==1.2.1
distribute==0.6.24
gevent==1.0
greenlet==0.4.1
gunicorn==18.0
itsdangerous==0.23
python-memcached==1.53
requests==2.1.0
wsgiref==0.1.2
