<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>{% block title %}pluss - Feed Proxy for Google+{% end %}</title>
		<link rel="stylesheet" href="{{ static_url('css/main.css') }}" />
		{% block add_to_head %}{% end %}
	</head>
	<body><div id="content-container">
		<h1>{% block top_heading %}pluss - Feed Proxy for Google+{% end %}</h1>

		{% block before_auth_prompt %}{% end %}

		{% block auth_prompt %}
		<p>Before pluss can proxy your Google+ public stream, you'll need to
		authenticate with Google. This process is done on Google's servers and
		does not reveal your Google auth information to pluss - it merely allows
		pluss to discover who you are on Google+, and acquire an access token that
		will allow it to request your public posts from Google's APIs.</p>
		{% end %}

		<a href="/auth" id="auth-button" title="Click here to authenticate with Google">
			<img src="{{ static_url('images/login-with-google-130x22.png') }}"
			alt="Login with Google button" width="130" height="22" />
		</a>

		{% block after_auth_button %}{% end %}

		{% block sharing_buttons %}
		<div class="pseudo-paragraph">
			<p>If you want, you can make others aware of this service:</p>
			<div class="share-buttons">
				<a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a>
				<g:plusone size="medium"></g:plusone>
			</div>
		</div>
		{% end %}

		<p>You can also find the source code used to run this server on GitHub:
		<a href="https://github.com/ayust/pluss" title="pluss on GitHub">https://github.com/ayust/pluss</a></p>

		<div id="footer">
			pluss &copy; 2011-{{ int(datetime.date.today().year) }} Amber Yust.
			Source code released under the <a href="https://raw.github.com/ayust/pluss/master/LICENSE"
			title="Read the text of pluss' LICENSE file.">MIT License</a>.
		</div>

	</div>
	<script type="text/javascript">
	  (function() {
		var po = document.createElement('script');
		po.type = 'text/javascript'; po.async = true;
		po.src = 'https://apis.google.com/js/plusone.js';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(po, s);
	  })();
	</script>
	<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
	</body>
</html>
